
h1{
  font-family: 'Alatsi', serif;
  font-size: 64px;
  text-shadow: 1px 1px #558abb;
  text-align: center;
  margin-top: 15px;
  padding-top: 20px;

}

h2{
  font-size: 36px;
  text-align: center;
}

.logo{
  align-content: left;
  float:left;
  margin-top: 0;
  margin: 0;
  padding-top: 0;
  position: absolute;
}

form{
  display: block;
  padding: 20px;
  background-color: white;
  font-size: 28px;

  margin-right: auto;
  margin-left: auto;
  align-content: center;
  width:35%;

  border-radius: 50px;
  box-shadow: 0 3px 26px 0 rgba(0,0,0,0.20);
}

.createAcctButton{
  font-size: 28px;
  font-weight: bolder;
  padding: 8px;
  width: 25%;
  margin-top: 30px;
  margin-left: 38%;
}

input{
  font-size: 28px;
  margin: 5px;
  padding: 8px;

}

input[type=checkbox]{
  transform: scale(2);
  margin-right: 20;

}


input:focus{
  background-color: lightgrey;
}


body{
  font-family:"Alatsi";
  background: linear-gradient(to bottom, #F8B195, #F67280, #C06C84, #6C5B7B, #355C7D);
  background-size: 100%;
}

body:before{
  content:'';
  position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	z-index: -1;
	background: linear-gradient(to top bottom, rgba(255,255,255,0.2), #355C7D 75%);

  margin:0px;
  padding:0px;
}
